:root {
  color-scheme: light dark;
}

.site-title {
  padding-left: 15px;
  padding-right: 15px;
}

.site-title img {
  width: 48px;
  height: 48px;
  margin-right: .5em;
}

.site-title-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.site-subtitle,
figcaption {
  color: #5c5962;
}

@media (prefers-color-scheme: dark) {
  .site-subtitle,
  figcaption {
    color: #c8c5c9;
  }
}

.note,
.warning,
.tip,
.check {
  padding: 20px 24px;
  margin: 1.5em 0;
  border-left: 8px solid black;
}

.note {
  color: #1e3a8a;
  border-color: #60a5fa;
  background-color: #eff6ff;
}

.warning {
  color: #78350f;
  border-color: #fcd34d;
  background-color: #fffbeb;
}

.tip {
  color: #064e3b;
  border-color: #34d399;
  background-color: #ecfdf5;
}

.check {
  color: #4c1d95;
  border-color: #a78bfa;
  background-color: #f5f3ff;
}

.note header,
.warning header,
.tip header,
.check header {
  margin-bottom: .5em;
  font-weight: 600;
  letter-spacing: .05em;
  text-transform: uppercase;
}

.note a,
.warning a,
.tip a {
  font-weight: 500;
}

.note a,
.note header {
  color: #1e40af;
}

.warning a,
.warning header {
  color: #92400e;
}

.tip a,
.tip header {
  color: #065f46;
}

.check a,
.check header {
  color: #4c1d95;
}

@media (prefers-color-scheme: dark) {
  .note {
    color: #dceafe;
    border-color: #2563eb;
    background-color: #1e398a;
  }

  .warning {
    color: #fffbeb;
    border-color: #f59e0c;
    background-color: #78350f;
  }

  .tip {
    color: #ecfdf5;
    border-color: #049669;
    background-color: #064e3b;
  }

  .check {
    color: #f5f3ff;
    border-color: #8b5cf6;
    background-color: #4c1d95;
  }

  .note a,
  .note header {
    color: #bfdbfe;
  }

  .warning a,
  .warning header {
    color: #fcd34d;
  }

  .tip a,
  .tip header {
    color: #6ee7b7;
  }

  .check a,
  .check header {
    color: #ddd6fe;
  }
}

.note a:not([class]):hover,
.warning a:not([class]):hover,
.tip a:not([class]):hover,
.check a:not([class]):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.indent {
  margin-left: 1.5em;
}

.note p:last-child,
.warning p:last-child,
.tip p:last-child,
.check p:last-child {
  margin-bottom: 0;
}

figure {
  margin: 1.5em 0;
}

figcaption {
  font-size: .8em;
  text-align: center;
}

blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: 5px solid #e6e1e8;
}

@media (prefers-color-scheme: dark) {
  blockquote {
    border-color: #959396;
  }
}

#markdown-toc a {
  overflow: inherit;
  text-overflow: inherit;
  white-space: inherit;
}

.next-page {
  display: block;
  position: relative;
  max-width: 320px;
  padding: 1em;
  background-color: #f5f6fa;
  border-radius: 8px;
  margin-left: auto;

  color: inherit;

  transition: .1s ease-in-out background-color;

  &:hover {
    background-color: #ebedf5;
  }
}

@media (prefers-color-scheme: dark) {
  .next-page {
    background-color: #302d36;

    &:hover {
      background-color: #44434d;
    }
  }
}

.next-page span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: 64px;
  height: 100%;
  font-size: 36px;
  font-weight: 300;
}

video {
  max-width: 100%;
  height: auto;
}
