:root {
  color-scheme: light dark;
}

.site-title {
  padding-left: 15px;
  padding-right: 15px;
}

.site-title img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: .5em;
}

.site-title-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.site-subtitle,
figcaption {
  color: #5c5962;
}

@media (prefers-color-scheme: dark) {
  .site-subtitle,
  figcaption {
    color: #c8c5c9;
  }
}

.note,
.warning,
.tip {
  padding: 20px 24px;
  margin: 1.5em 0;
  border-left: 8px solid black;
}

.note {
  color: #1E3A8A;
  border-color: #60A5FA;
  background-color: #EFF6FF;
}

.warning {
  color: #78350f;
  border-color: #FCD34D;
  background-color: #FFFBEB;
}

.tip {
  color: #064E3B;
  border-color: #34D399;
  background-color: #ECFDF5;
}

.note header,
.warning header,
.tip header {
  margin-bottom: .5em;
  font-weight: 600;
  letter-spacing: .05em;
  text-transform: uppercase;
}

.note a,
.note header {
  color: #1E40AF;
}

.warning a,
.warning header {
  color: #92400E;
}

.tip a,
.tip header {
  color: #065F46;
}

@media (prefers-color-scheme: dark) {
  .note {
    color: #dceafe;
    border-color: #2563eb;
    background-color: #1e398a;
  }

  .warning {
    color: #fffbeb;
    border-color: #f59e0c;
    background-color: #78350f;
  }

  .tip {
    color: #ecfdf5;
    border-color: #049669;
    background-color: #064e3b;
  }

  .note a,
  .note header {
    color: #bfdbfe;
  }

  .warning a,
  .warning header {
    color: #fcd34d;
  }

  .tip a,
  .tip header {
    color: #6ee7b7;
  }
}

.note a:not([class]):hover,
.warning a:not([class]):hover,
.tip a:not([class]):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.note.indent,
.warning.indent,
.tip.indent {
  margin-left: 1.5em;
}

.note p:last-child,
.warning p:last-child,
.tip p:last-child {
  margin-bottom: 0;
}

figure {
  margin: 1.5em 0;
}

figcaption {
  font-size: .8em;;
}

blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: 5px solid #e6e1e8;
}

@media (prefers-color-scheme: dark) {
  blockquote {
    border-color: #959396;
  }
}

#markdown-toc a {
  overflow: inherit;
  text-overflow: inherit;
  white-space: inherit;
}

.next-page {
  display: block;
  position: relative;
  max-width: 320px;
  padding: 1em;
  background: #f5f6fa;
  border-radius: 8px;
  margin-left: auto;

  color: inherit;
}

.next-page span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: 64px;
  height: 100%;
  font-size: 36px;
  font-weight: bold;
}
