{%- comment -%}
  Gather all pages by their order in the navigation menu.
{%- endcomment -%}

{%- assign all_pages_nav_order = site.pages | where: "path", "index.md" %}

{%- assign all_pages = site.html_pages
  | where_exp: "item", "item.title != nil"
  | where_exp: "item", "item.nav_order != nil" -%}

{%- assign nav_groups = all_pages
  | where_exp: "item", "item.parent == nil"
  | sort: "nav_order" -%}

{%- for group in nav_groups -%}
  {%- assign page_children = all_pages
    | where: "parent", group.title
    | sort: "nav_order" %}

  {%- assign all_pages_nav_order = all_pages_nav_order | push: group %}
  {%- assign all_pages_nav_order = all_pages_nav_order | concat: page_children %}
{%- endfor -%}

{%- comment -%}
  Get the page right after the current one.
{%- endcomment -%}

{% assign previous_item = nil %}
{%- for item in all_pages_nav_order -%}
  {% if previous_item != nil and previous_item.permalink == page.permalink %}
    {% assign next_page = item %}

    <a href="{{ next_page.url | relative_url }}" class="next-page">
      <header class="text-delta">Prochaine page</header>
      <div class="fw-500 fs-4">{{ next_page.title }}</div>
      <span role="presentation">→</span>
    </a>
  {% endif %}

  {% assign previous_item = item %}
{%- endfor -%}
